*{
	overflow: none;
	font-size:1.2vw;
	font-family: Roboto, Charcoal, sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color:#d1c99b;
	height: 100%;
}
body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


//General Classes
.curvedCorners{
	border-radius: 5px 5px 5px 5px;
}
.standardPadding{
	padding: 10px 10px 10px 10px;
}
.redBackground{
	background-color: #ad2f2f;
}
.redBackground:hover{
	background-color: #d1c99b;
}
.tanBackground{
	background-color: #d1c99b;
	cursor: pointer;
}
.tanBackground:hover{
	background-color:#ad2f2f;
	cursor: pointer;	
}


.tasksContainer{
	margin: 1vh 0 0 10vw;
	width: 80vw;
	border: 1px solid black;
}

.stationButtonContainer{
	position: fixed;
	width: 8vw;
	padding: 1vh .2vw 0 0;
}
.stationButton{
	margin-bottom: 1vh;
}
.redClickable:hover{
	color: #a85858;
	cursor: pointer;
}
.taskTable{
	text-align:left;
	text-transform: capitalize;
	width:80vw;
}









.taskTable td{
	width: 15vw;
	padding: .5vh .5vw .5vh .5vw;

}
.taskTable tr:nth-child(even){
	background-color: #a85858;
	
}
.taskTable tr:nth-child(odd):not(:first-child):hover{
	color: #a85858;
	cursor: pointer;
}
.taskTable tr:nth-child(even):hover{
        color: ;
	cursor: pointer;
 }

.redirecting{
	text-align: center;
	font-size: 2em;
	margin-top: 20vh;
}
