:root{
	--primary-color: 		#b9333c;
	--primary-color-dark:		#a92b32;
	--primary-color-light: 		#e8494d;
	--secondary-color: 		#d8d8b0;
	--secondary-color-light:	#ffffcc;
	--main-background-color:	#282828;
	--shadow-color:			#303030;
}
*{
	font-family: 			Roboto, Charcoal, sans-serif;
	color:				white;
	font-size: 			1.2vw;
}
body, html{
	padding: 			0 0 0 0;
	margin: 			0 0 0 0;
	background-color:		var(--main-background-color);
}
.stationButtonContainer{
	font-size:			0px;/*DONT REMOVE THIS PROPERTY*/
	background-color:		var(--primary-color);
	box-shadow:			.5vw 0vw .5vw var(--shadow-color);
}
.stationButton{
	margin:				1vh 0 1vh .44vw;
	width:				12vw;
	text-align:			center;
	background-color:		var(--secondary-color);
	box-shadow:			0 0 .5vw var(--shadow-color);
	color:				var(--main-background-color);
	display: 			inline-block;
}
.stationButton:hover{
	background-color: 		var(--secondary-color-light);
}
.tasksContainer{
	margin: 			1vh 0 0 2.25vw;
}
.taskTable{
	text-align:			left;
	text-transform: 		capitalize;
	border-spacing:			0;
	border-collapse: 		collapse;
}
.taskTable td, .taskTable th{
	width:				19vw;

}
.taskTable tr:first-child{
	background-color:		var(--primary-color);
	text-align:			left;
	height:				5vh;
}
.taskTable td:not(:first-child), .taskTable th:not(:first-child){
	text-align: right;
}
.taskTable tr:hover:not(:first-child){
	cursor:				pointer;
	background-color:		var(--secondary-color);
	color:				var(--main-background-color);
}
.taskTable tr:not(:first-child){
	border-top:				2px solid var(--secondary-color);
}
.clickable:hover{
	background-color: 		var(--primary-color-light);
	cursor: 			pointer;
	color:				var(--main-background-color);
}
