:root{
	--primary-color: 		#b9333c;
	--primary-color-dark:		#a92b32;
	--primary-color-light: 		#e8494d;
	--secondary-color: 		#d8d8b0;
	--secondary-color-light:	#ffffcc;
	--main-background-color:	#282828;
	--shadow-color:			#303030;
}
*{
	font-family: 			Roboto, Charcoal, sans-serif;
	color:				white;
	font-size: 			1.2vw;
}
body, html{
	padding: 			0 0 0 0;
	margin: 			0 0 0 0;
	background-color:		var(--main-background-color);
}
.banner{
	font-size:			0px;
	width:				98vw;
	padding:			0 0 0 1vw;
	margin: 			10px 0 10px 0;
}
.title, .searchContainer{
	display:			inline-block;
	width:				50%;	
}
.searchContainer{
	text-align:			right;
}
.searchButton, .search{
	color:				var(--primary-color);
}
.title{
	font-size:			3vw;
	text-align:			left;
}

.stationButtonContainer{
	font-size:			0px;/*DONT REMOVE THIS PROPERTY*/
	background-color:		var(--primary-color);
	box-shadow:			.5vh 0vw .5vh var(--shadow-color);
}
.stationButton{
	margin:				1vh 0 1vh .4vw;
	width:				12vw;
	text-align:			center;
	background-color:		var(--secondary-color);
	box-shadow:			0 0 .5vw var(--shadow-color);
	color:				var(--main-background-color);
	display: 			inline-block;
}
.stationButton:hover{
	background-color: 		var(--secondary-color-light);
}
.tasksContainer{
	margin: 			1vh 0 0 2.5vw;
	width:				95vw;
}
.taskTable, .taskElements table{
	text-transform: 		capitalize;
	border-spacing:			0;
	border-collapse: 		collapse;
	width:				100%;
}
.taskTable tr:first-child,
.taskElements tr:first-child{
	background-color:		var(--primary-color);
	text-align:			left;
	height:				5vh;
}
.taskTable td:not(:first-child), 
.taskTable th:not(:first-child),
.taskElements td:not(:first-child),
.taskElements th:not(:first-child){
	text-align: right;
}
.taskTable tr:hover:not(:first-child){
	cursor:				pointer;
	background-color:		var(--secondary-color);
	color:				var(--scondary-color);
}
.taskTable tr:not(:first-child),
.taskElements tr:not(:first-child){
	border-bottom:			2px solid var(--secondary-color);
}
.clickable:hover{
	background-color: 		var(--primary-color-light);
	cursor: 			pointer;
	color:				var(--main-background-color);
}
.lock, 
.complete{
	color: 				var(--primary-color);
	margin:				10px 10px 10px 10px;
}

